
  @mixin flex-setting ($a,$b) {
    display:flex;
    justify-content: $a;
    align-items: $b;
  }

  main {
    width:95vw;
    height:inherit;
    display:flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    background-color:   #071824;

    & > div {
      width:90vw;
      height:70vh;

      display:flex;
      flex-direction: column;
      align-items: center;
      
      & > div:nth-child(1) {
        width:85vw;
        height:10vh;
        display:flex;
        justify-content: space-around;
        align-items: center;


        & > div:nth-child(1) {
          width:3vw;
          height:3vw;
          background-image: url(https://i.ibb.co/YZZ1Rs7/image-12.png);
          background-size: cover;
          background-repeat: no-repeat;
        }

        & > div:nth-child(2) {
          width:3vw;
          height:3vw;
          background-image: url(https://i.ibb.co/Q8hqfyk/image-15.png);
          background-size: cover;
          background-repeat: no-repeat;
        }

        & > div:nth-child(3) {
          width:3vw;
          height:3vw;
          background-image: url(https://i.ibb.co/rdy922d/image-11.png);
          background-size: cover;
          background-repeat: no-repeat;
        }

        & > div:nth-child(4) {
          width:3vw;
          height:3vw;
          background-image: url(https://i.ibb.co/Kjc6m2V/image-13.png);
          background-size: cover;
          background-repeat: no-repeat;
        }

        & > div:nth-child(5) {
          width:3vw;
          height:3vw;
          background-image: url(https://i.ibb.co/YZZ1Rs7/image-12.png);
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      & > div:nth-child(2) {
        width:inherit;
        height:50vh;

        @include flex-setting(space-evenly,center );

        & > div:nth-child(1) {
          width:12vw;
          height:44vh;
          background-image: url(https://am-a.akamaihd.net/image?f=https://am-a.akamaihd.net/image?f=http://ddragon.leagueoflegends.com/cdn/img/champion/loading/Kennen_0.jpg&resize=333:);
          background-size: cover;
          background-repeat: no-repeat;
        }

        & > div:nth-child(2) {
          width:12vw;
          height:44vh;
          background-image: url(https://i.ibb.co/5hBr7hN/Skin-Loading-Screen-Classic-Viego.webp);
          background-size: cover;
          background-repeat: no-repeat;
        }

        & > div:nth-child(3) {
          width:12vw;
          height:44vh;
          background-image: url(https://i.ibb.co/3SQnbcx/Skin-Loading-Screen-Classic-Ahri.webp);
          background-size: cover;
          background-repeat: no-repeat;
        }
        
        & > div:nth-child(4) {
          width:12vw;
          height:44vh;
          background-image: url(https://i.ibb.co/Chwt9DH/Skin-Loading-Screen-Classic-Jinx.webp);
          background-size: cover;
          background-repeat: no-repeat;
        }
        
        & > div:nth-child(5) {
          width:12vw;
          height:44vh;
          background-image: url(https://i.ibb.co/VSqNQYM/Skin-Loading-Screen-Classic-Thresh.webp);
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }