* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 12vw;
  height: 100vh;
  background-color: #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section > .bar {
  width: inherit;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section > .bar > div {
  width: 11vw;
  height: 8vh;
}

section > .bar > div > div:nth-child(1) {
  width: inherit;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section > .bar > div > div:nth-child(1) > div:nth-child(1) {
  width: inherit;
  height: 2vh;
  border-radius: 1vw;
  background-color: #ebebeb;
}

section > .bar > div > div:nth-child(1) > div:nth-child(2) {
  width: 10vw;
  height: 2vh;
  border-radius: 1vw;
  background-color: #333;
  position: absolute;
}

section > .bar > div > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section > div:nth-child(2) {
  width: inherit;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section > div:nth-child(2) > div {
  width: 5vw;
  height: 3vh;
  border: 2px solid #333;
  border-radius: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
}

section > div:nth-child(3) {
  width: inherit;
  height: 63vh;
}

section > div:nth-child(3) > div {
  width: inherit;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section > div:nth-child(3) > div > div {
  width: 11vw;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1vw;
}

section > div:nth-child(3) > div > div > div:nth-child(2) {
  width: inherit;
  height: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section > div:nth-child(3) > div > div > div:nth-child(2) > div:nth-child(1) {
  width: 10vw;
  height: 1vh;
  border-radius: 1vw;
  background-color: #ebebeb;
}

section > div:nth-child(3) > div > div > div:nth-child(2) > div:nth-child(2) {
  width: 5vw;
  height: 1vh;
  border-radius: 1vw;
  background-color: #333;
  position: absolute;
}

section > div:nth-child(4) {
  width: inherit;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section > div:nth-child(4) > div {
  width: 8vw;
  height: 5vh;
  background-color: #c4c4c4;
  display: Flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1vw;
}

main {
  width: 83vw;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div:nth-child(1) {
  width: 2vw;
  height: 2vw;
  background-image: url(https://i.ibb.co/dGS2yVV/Group-8.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1vw;
  position: absolute;
  top: 1vh;
  right: 1vw;
}

main > div:nth-child(2) {
  width: 52vw;
  height: 60vh;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div:nth-child(2) > div {
  width: 50vw;
  height: 56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > div:nth-child(2) > div > div:nth-child(1) {
  width: 35vw;
  height: inherit;
}

main > div:nth-child(2) > div > div:nth-child(1) > div {
  width: 20vw;
  height: 7vh;
}

main > div:nth-child(2) > div > div:nth-child(1) > div > div:nth-child(2) {
  width: 16vw;
  height: 3vh;
  background-color: #ebebeb;
  margin-left: 1vw;
}

main > div:nth-child(2) > div > div:nth-child(2) {
  width: 15vw;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) {
  width: 13vw;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 12vw;
  height: 44vh;
  background-image: url(https://i.ibb.co/BNzJDkt/Skin-Loading-Screen-Classic-Sett.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  width: 5vw;
  height: 4vh;
  border-radius: 20px;
  border: 1px solid #c4c4c4;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) {
  width: 2vw;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  width: 1vw;
  height: 1vw;
  border-radius: 3px;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div {
  width: 0.8vw;
  height: 0.3vh;
  border-radius: 10px;
  background-color: #ebebeb;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  width: 0.8vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  width: inherit;
  height: 20vh;
  border-radius: 20px;
  background-color: #ebebeb;
}

main > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  width: inherit;
  height: 16vh;
  border-radius: 20px;
  background-color: #c4c4c4;
  position: absolute;
}

main > div:nth-child(3) {
  width: inherit;
  height: 33vh;
  border-radius: 10px 10px 0 0;
  border: 1px solid #c8c8c8;
}

main > div:nth-child(4) {
  width: inherit;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c8c8c8;
}

main > div:nth-child(4) > div:nth-child(1) {
  width: 3vw;
  height: 6vh;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
  font-size: 30px;
  color: #c8c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > div:nth-child(4) > div:nth-child(2) {
  width: 70vw;
  height: 6vh;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
}

main > div:nth-child(4) > div:nth-child(3) {
  width: 7vw;
  height: 6vh;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
}
/*# sourceMappingURL=twenty_hills.css.map */