  *{margin:0; padding:0; box-sizing: border-box;}

  @mixin flex-setting ($a,$b) {
    display:flex;
    justify-content: $a;
    align-items: $b;
  }

    section {
      width:12vw;
      height:100vh;
      background-color:#b4b4b4;
      @include flex-setting(space-evenly,flex-start );
      flex-direction: column;

      & > .bar {
        width:inherit;
        height:20vh;

        @include flex-setting(center,center );

        & > div {
          width:11vw;
          height:8vh;

          & > div:nth-child(1) {
            width:inherit;
            height:5vh;
            display:flex;
            align-items: center;
            
            & > div:nth-child(1) {
              width:inherit;
              height:2vh;
              border-radius: 1vw;
              background-color: #ebebeb;
            }

            & > div:nth-child(2) {
              width:10vw;
              height:2vh;
              border-radius: 1vw;
              background-color:#333;
              position:absolute;
            }
          }

          & > div:nth-child(2) {
            display:flex;
            justify-content: flex-end;
          }
        }
      }

      & > div:nth-child(2) {
        width:inherit;
        height:4vh;
        display:flex;
        justify-content: flex-end;
        
        & > div {
          width:5vw;
          height:3vh;
          border:2px solid #333;
          border-radius: 2vw;
          display:flex;
          justify-content: center;
          align-items: center;
          margin-right:1vw;
        }
      }

      & > div:nth-child(3) {
        width:inherit;
        height:63vh;

        & > div {
          width:inherit;
          height:30vh;
          display:flex;
          flex-direction: column;

          & > div {
            width:11vw;
            height:6vh;
            display:flex;
            flex-direction: column;
            justify-content: center;
            margin-left:1vw;

            & > div:nth-child(2) {
              width:inherit;
              height:3vh;

              @include flex-setting(flex-start,center );

              & > div:nth-child(1) {
                width:10vw;
                height:1vh;
                border-radius: 1vw;
                background-color: #ebebeb;
              }

              & > div:nth-child(2) {
                width:5vw;
                height:1vh;
                border-radius: 1vw;
                background-color: #333;
                position: absolute;
              }
            }
          }
        }
      }

      & > div:nth-child(4) {
        width:inherit;
        height:5vh;
        display:flex;
        justify-content: flex-end;
        align-items: center;

        & > div {
          width:8vw;
          height:5vh;
          background-color: #c4c4c4;
          display:Flex;
          justify-content: center;
          align-items: center;
          margin-right:1vw;
        }
      }
    }
    main {
      width:83vw;
      height:inherit;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & > div:nth-child(1) {
        width:2vw;
        height:2vw;
        background-image: url(https://i.ibb.co/dGS2yVV/Group-8.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-right:1vw;
        position:absolute;
        top:1vh;
        right:1vw;
      }

      & > div:nth-child(2) {
        width:52vw;
        height:60vh;
        border:2px solid #c4c4c4;
        border-radius:10px;

        @include flex-setting(center,center );

        & > div {
          width:50vw;
          height:56vh;
          display:flex;

          & > div:nth-child(1) {
            width:35vw;
            height:inherit;

            & > div {
              width:20vw;
              height:7vh;

              & > div:nth-child(2) {
                width:16vw;
                height:3vh;
                background-color: #ebebeb;
                margin-left:1vw;
              }
            }
          }

          & > div:nth-child(2) {
            width:15vw;
            height:inherit;
            display:flex;

            & > div:nth-child(1) {
              width:13vw;
              height:55vh;

              @include flex-setting(space-evenly,center );
              flex-direction:column;

              & > div:nth-child(1) {
                width:12vw;
                height:44vh;
                background-image:url(https://i.ibb.co/BNzJDkt/Skin-Loading-Screen-Classic-Sett.webp);
                background-size: cover;
                background-repeat: no-repeat;
              }
              
              & > div:nth-child(2) {
                width: 5vw;
                height:4vh;
                border-radius: 20px;
                border:1px solid #c4c4c4; 

              }
            }

            & > div:nth-child(2) {
              width:2vw;
              height:35vh;
              display:flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;


              & > div:nth-child(1) {
                width:1vw;
                height:1vw;
                border-radius:3px;
                background-color:#c4c4c4;

                @include flex-setting(center,center );

                & > div {
                  width:0.8vw;
                  height:0.3vh;
                  border-radius: 10px;
                  background-color: #ebebeb;
                }
              }
              
              & > div:nth-child(2) {
                width:0.8vw;
                height:20vh;
                display:flex;
                flex-direction: column;

                & > div:nth-child(1) {
                  width:inherit;
                  height:20vh;
                  border-radius: 20px;
                  background-color: #ebebeb;
                }

                & > div:nth-child(2) {
                  width:inherit;
                  height:16vh;
                  border-radius: 20px;
                  background-color: #c4c4c4;
                  position: absolute;
                }
              }
            }
          }
        }
      }

      & > div:nth-child(3) {
        width:inherit;
        height:33vh;
        border-radius: 10px 10px 0 0;
        border:1px solid #c8c8c8;
      }

      & > div:nth-child(4) {
        width:inherit;
        height:7vh;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        border:1px solid #c8c8c8;

        & > div:nth-child(1) {
          width:3vw;
          height:6vh;
          border-radius: 10px;
          border:1px solid #c8c8c8;
          font-size: 30px;
          color:#c8c8c8;
          display:flex;
          justify-content: center;
          align-items: center;
        }

        & > div:nth-child(2) {
          width:70vw;
          height:6vh;
          border:1px solid #c8c8c8;
          border-radius: 10px;
        }

        & > div:nth-child(3) {
          width:7vw;
          height:6vh;
          border-radius:10px;
          border:1px solid #c8c8c8;
        }
      }

      & > div:nth-child(5) {
        width:18vw;
        height:60vh;
        position:absolute;
        top:5vh;
        right:4vw;
        background-color: white;
        border-radius: 10px;
        border:1px solid #c4c4c4;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > div {
          width:17vw;
          height:12vh;
          display:flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }

        & > div:nth-child(1) {
          & > div:nth-child(1) {
            width:16vw;
            height:2vh;
          }
          & > div:nth-child(2) {
            width:17vw;
            height:4vh;
            display:flex;
            justify-content: space-around;

            & > div {
              width:4vw;
              height:4vh;
              background-color: rgba(196,196,196,0.2);
              border-radius: 10px;
              display:Flex;
              justify-content: center;
              align-items: center;
            }

            & > div:nth-child(2) {
              background-color: rgba(196,196,196,0.7);
            }
          }
        }

        & > div:nth-child(2) {
          height:6vh;
          display:flex;
          flex-direction: row;
          justify-content: center;

          & > div:nth-child(1) {
            display:inline;
          }

          & > div:nth-child(2) {
            width:12vw;
            height:inherit;
            display:flex;
            justify-content: space-around;
            align-items: center;

            & > div {
              width:4vw;
              height:4vh;
              border-radius: 10px;
              background-color: rgba(196,196,196,0.2);
              display:flex;
              justify-content: center;
              align-items: center;
            }

            & > div:nth-child(2) {
              background-color: rgba(196,196,196,0.7);
            }
          }
        }

        & > div:nth-child(3) {
          height:12vh;

          & > div:nth-child(1) {
            width:16vw;
            height:2vh;
          }

          & > div:nth-child(2) {
            width:18vw;
            height:2vh;
            display:flex;
            justify-content: center;
            align-items: center;

            & > div:nth-child(1) {
              width:17vw;
              height:1vh;
              border-radius: 10px;
              background-color: rgba(196,196,196,0.3);
            }

            & > div:nth-child(2) {
              width:1.2vw;
              height:1.2vw;
              border-radius: 50%;
              background-color: rgba(196,196,196,1);
              position: absolute;
              right:0.8vw;
            }
          }

          & > div:nth-child(3) {
            width:16vw;
            display:flex;
            justify-content: space-between;
          }
        }
        & > div:nth-child(4) {
          width:17vw;
          height:6vh;
          display:flex;
          flex-direction: row;

          & > div:nth-child(1) {
            display:inline;
          }

          & > div:nth-child(2) {
            width:12vw;
            height:inherit;
            display:flex;
            justify-content: space-around;
            align-items: center;

            & > div {
              width:2vw;
              height:2vw;
              border-radius: 10px;
              background-color: rgba(196,196,196,0.2);
              display:flex;
              justify-content: center;
              align-items: center;
            }

            & > div:nth-child(4) {
              background-color: rgba(196,196,196,0.7);
            }
          }
        }

        & > div:nth-child(5) {
          & > div:nth-child(1) {
            width:16vw;
            height:2vh;
          }

          & > div:nth-child(2) {
            width:17vw;
            height:4vh;
            display:flex;
            justify-content: space-around;

            & > div {
              width:4vw;
              height:4vh;
              background-color: rgba(196,196,196,0.2);
              border-radius: 10px;
              display:Flex;
              justify-content: center;
              align-items: center;
            }

            & > div:nth-child(4) {
              background-color: rgba(196,196,196,0.7);
            }
          }
        }
      }
    }
  