* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 500vh;
}

body > #page0 {
  width: 100vw;
  height: 100vh;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body > #page0 > div:nth-child(1) {
  width: 65vw;
  height: 15vh;
  margin-left: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > #page0 > div:nth-child(1) > h1 {
  color: #eeeeee;
  font-size: 200px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

body > #page0 > div:nth-child(2) {
  width: inherit;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body > #page0 > div:nth-child(2) > div:nth-child(1) {
  width: 55vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > #page0 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 15vw;
  height: 10vh;
}

body > #page0 > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > p {
  color: #eeeeee;
  text-align: center;
}

body > #page0 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  width: 8vw;
  height: 5vh;
}

body > #page0 > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > p {
  color: #eeeeee;
  text-align: center;
}

body > #page0 > div:nth-child(2) > div:nth-child(2) {
  width: 45vw;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > #page0 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
  width: 6vw;
  height: 6vh;
  border: 3px solid #FD9901;
  font-weight: bold;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > #page0 > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > p {
  font-size: 22px;
  font-weight: 500;
  color: #eeeeee;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body > #page0 > div:nth-child(2) > div:nth-child(2) > div {
  width: 18vw;
  height: 10vh;
  text-align: center;
  color: #eeeeee;
}

body > #page1 {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > #page1 > div:nth-child(1) {
  width: inherit;
  height: 50vh;
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body > #page1 > div:nth-child(1) > div:nth-child(1) {
  width: 20vw;
  height: inherit;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > #page1 > div:nth-child(1) > div:nth-child(1) > h1 {
  font-size: 75px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

body > #page1 > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) > p {
  text-align: center;
}

body > #page1 > div:nth-child(1) > p {
  width: 35vw;
  height: 30vh;
  text-align: center;
  padding: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > #page1 > div:nth-child(2) {
  width: 50vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > #page1 > div:nth-child(2) > div:nth-child(1) {
  width: 2vw;
  height: 2vw;
  border-top: 0.5vw solid black;
  border-right: 0.5vw solid black;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

body > #page1 > div:nth-child(2) > div:nth-child(3) {
  width: 2vw;
  height: 2vw;
  border-top: 0.5vw solid black;
  border-right: 0.5vw solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body > #page2 {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

body > #page3 {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

body > #page4 {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}
/*# sourceMappingURL=main.css.map */