*{margin:0; padding:0; box-sizing: border-box;}

@mixin flexsetting ($a,$b,$c) {
  display:flex;
  flex-direction: $a;
  justify-content: $b;
  align-items: $c;
}

body {
  width:100vw;
  height:500vh;

  // page 0

  & > #page0 {
    width:100vw;
    height:100vh;
    background-color: #111111;

    @include flexsetting(column,flex-end ,flex-start );
    
    & > div:nth-child(1) {
      width:65vw;
      height:15vh;
      margin-left:15vw;

      @include flexsetting(row,space-between ,center);
      // Gong Yoo
      & > h1 {
        color:#eeeeee;
        font-size: 10vw;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
      }
    }

    & > div:nth-child(2) {
      width:inherit;
      height:50vh;

      @include flexsetting(row,flex-start , flex-start );

      // stage, real
      & > div:nth-child(1) {
        width:45vw;
        height:40vh;

        @include flexsetting(column,space-evenly ,center );

        & > div:nth-child(1) {
          width:15vw;
          height:10vh;

          & > p {
            width:22vw;
            height:5vh;
            color:#eeeeee;
            text-align: center;
          }
        }

        & > div:nth-child(2) {
          width:8vw;
          height:5vh;

          & > p {
            width:15vw;
            height:5vh;
            color:#eeeeee;
            text-align: center;
          }
        }
      }

      & > div:nth-child(2) {
        width:37vw;
        height:40vh;

        @include flexsetting(column,space-evenly, flex-end);

        // MORE
        & > div:nth-child(1) {
          width:6vw;
          height:6vh;
          border:3px solid #FD9901;
          font-weight: bold;

          transform: rotate(-90deg);

          @include flexsetting(row,center ,center );
          & > p {
            font-size: 22px;
            font-weight: 500;
            color:#eeeeee;
            text-align: center;
            user-select: none;
          }
        }

        & > p {
          width:16vw;
          height:10vh;
          text-align: center;
          color:#eeeeee;

        }
      }
    }
  }
  
  // page 1

  & > #page1 {
    width:100vw;
    height:100vh;
    background-color: #111111;

    @include flexsetting(column,center , center );


    & > div:nth-child(1) {
      width:80vw;
      height:50vh;

      @include flexsetting(row,space-between ,flex-start );

      & > div:nth-child(1) {
        width:20vw;
        height:inherit;

        @include flexsetting(column,space-around , center);

        & > div:nth-child(1) {
          position:relative;

          & > h1 {
            color:#eeeeee;
            font-size: 4vw;
            font-weight: 500;
            font-family: 'Inter', sans-serif;
          }

          & > h1:nth-child(1) {
          }

          & > h1:nth-child(2) {
            position:absolute;
            top:4vh;
            left:4vw;
            z-index: 0;
            opacity: 0.1;
          }

        }

        & > div:nth-child(2) {

          & > p {
            padding:0.3vw;
            color:#eeeeee;
            text-align: center;
          }
        }
      }

      & > p { 
        width:22vw;
        height:50vh;
        color:#eeeeee;
        text-align: center;
        margin-right:10vw;

        @include flexsetting(row, center ,center );
      }
    }

    & > div:nth-child(2) {
      width:55vw;
      height:50vh;

      @include flexsetting(row, space-around , center );

      & > div:nth-child(1) {
        width:2vw;
        height:2vw;

        border-top:0.5vw solid #eeeeee;
        border-right:0.5vw solid #eeeeee;

        transform: rotate(-135deg);
      }

      // slide
      & > div:nth-child(2) {
        width:40vw;
        height:45vh;

        display:flex;
        justify-content: center;
        align-items: flex-end;

        position: relative;

        overflow: hidden;
      }

      & > div:nth-child(3) {
        width:2vw;
        height:2vw;

        border-top:0.5vw solid #eeeeee;
        border-right:0.5vw solid #eeeeee;

        transform: rotate(45deg);
      }
    }
  }
  
  & > #page2 {
    width:100vw;
    height:100vh;
    border:1px solid red;
  }

  & > #page3 {
    width:100vw;
    height:100vh;
    border:1px solid red;
  }

  & > #page4 {
    width:100vw;
    height:100vh;
    border:1px solid red;
  }
}
