  *{margin:0; padding:0; box-sizing: border-box;}

  @mixin flex-setting ($a, $b) {
    display:flex;
    justify-content: $a;
    align-items: $b;
  }

  #root {
    width:100vw;
    height:200vh;
    background-color: rgb(51, 51, 51);
    overflow: hidden;

    @include flex-setting(flex-start,center );
    flex-direction:column;

    & > main {
      width: 80vw;
      height:50vh;

      @include flex-setting(center,center );

      & > div:nth-child(1) {
        width:45vw;
        height:inherit;

        @include flex-setting(flex-end,center );
        flex-direction: column;

        & > div:nth-child(1) {
          width:40vw;
          height:40vw;
          border-radius: 50%;
          background-color: rgb(255, 100, 100);
        }

        & > div:nth-child(2) {
          width:inherit;
          height:7vh;

          @include flex-setting(space-between,flex-start );
          flex-direction: column;

          & > div {
            width:1.5vw;
            height: 1.5vw;
            border-radius: 50%;
            background-color: rgb(196, 196, 196);
          }
        }
      }

      & > div:nth-child(2) {
        width:35vw;
        height:inherit;
      }

      & > div:nth-child(3) {
        width:60vw;
        height:60vw;
        border-radius: 50%;
        border:4px solid rgb(255, 200, 58);

        position:absolute;
        top:25vh;
        
        z-index:2;
      }
    }

    & > .section {
      width: inherit;
      height:145vh;
      position:absolute;
      z-index:5;
      top:47vh;

      @include flex-setting(space-between,center );
      flex-direction: column;

      & > div {
        width: 90vw;
        height:70vh;
        
        & > div {
          width:inherit;
          height:inherit;
          backdrop-filter: blur(20px);
          background-color: rgba(200, 200, 200,0.2);
          border-radius: 10vw;

          @include flex-setting(center,flex-start );

          & > h1 {
            width:80vw;
            height:20vh;
            /* background-color: #fff; */
            margin:3vw;
            font-size:120px;
            color:#fff;
            font-weight: 900;
          }
        }
      }
    }

  }